* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Styling */
#header-main nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    /* padding-bottom: 2px; */
}

#header-main nav img {
    height: 50px;
    margin-top: 40px;
    /* border-radius: 50px; */
}

#header-main ul {
    justify-self: end;
}

#header-main nav ul li {
    display: inline-block;
    list-style: none;
    justify-self: end;
    margin: 40px 0 40px 30px;
}

#header-main nav ul li a {
    color: #111;
    font-family: Bebas Neue;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
}

.gallery-img img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}