* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Styling */
#header-main nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    /* padding-bottom: 2px; */
}

#header-main nav img {
    height: 50px;
    margin-top: 40px;
    /* border-radius: 50px; */
}

#header-main ul {
    justify-self: end;
}

#header-main nav ul li {
    display: inline-block;
    list-style: none;
    justify-self: end;
    margin: 40px 0 40px 30px;
}

#header-main nav ul li a {
    color: #111;
    font-family: Bebas Neue;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}


.container {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    /* top right bottom left the margins*/

}

.container .heading {
    width: 50%;
    padding-bottom: 5%
}

.container .heading h2 {
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #222;
}

.container .box div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* align-items: center; */

}



.container .box .gallery-img {
    display: flex;
    flex-direction: column;
    width: 32.5%
}

.container .box .gallery-img img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gallery-img img:hover {
    opacity: 0.6;
    transform: all ease-in-out 1000ms;
}

@media only screen and (max-width:769px) {
    .container .box {
        flex-direction: column;
    }

    .container .box .gallery-img {
        width: 100%;

    }
}

@media only screen and (max-width:643px) {
    .container .heading {
        width: 65%;
    }

    .container .heading h2 {
        font-size: 1em;
    }
}